[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-windowswap"]
	path = .vim/bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap.git
